// colors

$primary:#fe5f1e;
$primary-hover:#b23301;
$secondary:#f8f8f8;
$pure:#fff;
$dark:#232323;
$gray:#ccc;

// transition
$smooth:all .3s ease-in-out;

// box-shadow

$shadow:0px -1px 4px rgb(0 0 0 / 20%);

